{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to the app</h1>
    <form class="searchForm" action="/" method="POST">
        <label for="urlsearch"></label>
        <input type="text" name="urlsearch" id="urlsearch" placeholder="Enter URL here">
        <input type="submit" value="Search">
    </form>
    {% if link %}
    <div class="link">
        <h4>This is your shortened URL for {{urlsearch}} : <a href="/{{link}}">/{{link}}</a></h4>
    </div>
    {% endif %}
{% endblock %}
